streamlit
numpy
pandas
seaborn
matplotlib
imbalanced-learn
deep-translator
scikit-learn
transformers
transliterate
indic-transliteration
unidecode
PyICU
Pillow
torch==1.9.0+cpu  # Specify CPU version of PyTorch
