warnings; sys
streamlit
numpy
torch==1.9.0+cpu
pandas
seaborn
matplotlib
imbalanced-learn
deep-translator
scikit-learn
transformers
transliterate
indic-transliteration
unidecode
PyICU
Pillow
base64
